USE [master]
GO
/****** Object:  Database [StudentProjectDB]    Script Date: 06-01-2026 20:10:07 ******/
CREATE DATABASE [StudentProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentProjectDB]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 06-01-2026 20:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] NOT NULL,
	[CourseName] [nvarchar](50) NULL,
	[Instructor] [nvarchar](50) NULL,
	[Credits] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 06-01-2026 20:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Grade] [char](1) NULL,
	[CourseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Instructor], [Credits]) VALUES (101, N'Data Science', N'Dr. Smith', 4)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Instructor], [Credits]) VALUES (102, N'Web Development', N'Prof. Jones', 3)
GO
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Grade], [CourseID]) VALUES (1, N'Alice', N'Johnson', N'A', 101)
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Grade], [CourseID]) VALUES (2, N'Bob', N'Smith', N'B', 101)
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Grade], [CourseID]) VALUES (3, N'Charlie', N'Brown', N'C', 102)
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
USE [master]
GO
